asgiref==3.2.7
beautifulsoup4==4.9.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.7
django-appconf==1.0.4
django-bootstrap4==2.0.1
django-imagekit==4.0.2
exception==0.1.0
gunicorn==20.0.4
pilkit==2.0
Pillow==9.3.0
psycopg2-binary==2.8.5
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
static3==0.7.0
zipfile37==0.1.3
